.about
    padding: 93px 0 140px 0
    &__title
        margin: 0
        font-family: $title-font
        font-size: 90px
        font-weight: 400
    &__line
        margin-top: 50px
        width: 100px
        height: 6px
        border: none
        background-color: $main-color
    &__wrapper
        margin-top: 55px
        display: flex
        justify-content: start
    &__img
        width: 486px
        height: 315px
    &__info
        margin: 0  
        margin-left: 68px
        max-width: 490px
        font-size: 18px
        font-weight: 300
        line-height: 26px